<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
    <test name="homework12" enabled="true" >
        <!-- available browsers: chrome, firefox -->
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.gmail.ivanytskyy.vitaliy.wd.homework12.ChallengingDomTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.wd.homework12.LoginTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.wd.homework12.CheckboxesTest"/>
        </classes>
    </test>
    <test name="homework11" enabled="false" >
        <parameter name="url" value="https://google.com"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.gmail.ivanytskyy.vitaliy.homework11.ExampleTest"/>
        </classes>
    </test>
    <test name="UnitTests" enabled="false">
        <packages>
            <package name="com.gmail.ivanytskyy.vitaliy.homework02"/>
            <package name="com.gmail.ivanytskyy.vitaliy.homework03"/>
            <package name="com.gmail.ivanytskyy.vitaliy.homework04"/>
            <package name="com.gmail.ivanytskyy.vitaliy.homework08"/>
        </packages>
    </test>
</suite>