<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">
    <test name="homework17" enabled="false">
        <classes>
            <class name="com.gmail.ivanytskyy.vitaliy.rest.homework17.PetTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.rest.homework17.StoreTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.rest.homework17.UserTest"/>
        </classes>
    </test>
    <test name="homework16" enabled="false">
        <!-- available browsers: chrome, firefox -->
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.gmail.ivanytskyy.vitaliy.selenide.homework16.FileDownloadTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.selenide.homework16.FileUploadTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.selenide.homework16.DynamicLoadingFirstExampleTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.selenide.homework16.DynamicLoadingSecondExampleTest"/>
        </classes>
    </test>
    <test name="homework15" enabled="false">
        <!-- available browsers: chrome, firefox -->
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.gmail.ivanytskyy.vitaliy.wd.homework15.FileDownloadTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.wd.homework15.FileUploadTest"/>
        </classes>
    </test>
    <test name="homework14" enabled="true">
        <!-- available browsers: chrome, firefox -->
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.gmail.ivanytskyy.vitaliy.wd.homework14.ChallengingDomTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.wd.homework14.CheckboxesTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.wd.homework14.HoversTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.wd.homework14.LoginTest"/>
        </classes>
    </test>
    <test name="homework13" enabled="false" >
        <!-- available browsers: chrome, firefox -->
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.gmail.ivanytskyy.vitaliy.wd.homework13.DragAndDropTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.wd.homework13.HoverMenuTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.wd.homework13.UserNameFinderTest"/>
        </classes>
    </test>
    <test name="homework12" enabled="false" >
    <!-- available browsers: chrome, firefox -->
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.gmail.ivanytskyy.vitaliy.wd.homework12.ChallengingDomTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.wd.homework12.LoginTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.wd.homework12.CheckboxesTest"/>
        </classes>
    </test>
    <test name="homework11" enabled="false" >
        <parameter name="url" value="https://google.com"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.gmail.ivanytskyy.vitaliy.homework11.ExampleTest"/>
        </classes>
    </test>
    <test name="UnitTests" enabled="false">
        <packages>
            <package name="com.gmail.ivanytskyy.vitaliy.homework02"/>
            <package name="com.gmail.ivanytskyy.vitaliy.homework03"/>
            <package name="com.gmail.ivanytskyy.vitaliy.homework04"/>
            <package name="com.gmail.ivanytskyy.vitaliy.homework08"/>
        </packages>
    </test>
</suite>